@import "tailwindcss";
@plugin "daisyui";

@theme {
    --font-sans: "Inter", "system-ui", "sans-serif";

    /* BRAND COLORS */
    --color-primary: #E2A03F;
    --color-primary-content: #ffffff;
    --color-primary-dark: #1f2937;

    --color-secondary: #64748B;
    --color-secondary-content: #ffffff;

    --color-accent: #A3E635;
    --color-accent-content: #163835;

    /* SURFACE COLORS */
    --color-base-100: #F8FAFC;
    --color-base-200: #F1F5F9;
    --color-base-300: #E2E8F0;
    --color-base-content: #0F172A;

    /* STATUS COLORS */
    --color-success: #22C55E;
    --color-warning: #F59E0B;
    --color-error: #EF4444;
    --color-info: #3B82F6;
}